/* Resetando margens e bordas */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f0f4f8;
  background-image: url('https://i.imgur.com/KNYZteJ.png');
  color: #333;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.App {
  background-color: #fff;
  border-radius: 8px;
  width: 80%;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

h1 {
  font-size: 2.5rem;
  color: #2d3b50;
  font-weight: 700;
  margin-bottom: 20px;
}

.todo-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.todo-form input {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: border 0.3s ease;
}

.todo-form input:focus {
  border-color: #5c6bc0;
}

.todo-form button {
  padding: 1rem;
  background-color: #5c6bc0;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.todo-form button:hover {
  background-color: #3f51b5;
}

.todo-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.table-header {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  background-color: #5c6bc0;
  color: white;
  padding: 1rem;
  border-radius: 8px;
}

.table-row {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.table-row:hover {
  background-color: #e3e9f1;
}

.table-row span {
  flex: 1;
  text-align: center;
}

.table-row button {
  padding: 0.5rem 1rem;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 0.5rem;
}

.table-row button:hover {
  background-color: #d32f2f;
}

.table-row button:last-child {
  background-color: #4caf50;
}

.table-row button:last-child:hover {
  background-color: #388e3c;
}

/* Responsividade */
@media (max-width: 768px) {
  .App {
    width: 95%;
  }

  h1 {
    font-size: 2rem;
  }

  .todo-form input, .todo-form button {
    font-size: 0.9rem;
  }

  .todo-table .table-header, .table-row {
    flex-direction: column;
    align-items: center;
  }

  .table-row button {
    width: 100%;
    margin: 0.5rem 0;
  }
}

